PROMPTIFY_SESSION_SECRET=replace-with-long-random-string
# PROMPTIFY_ADMIN_EMAIL=admin@promptify.com
# PROMPTIFY_ADMIN_PASSWORD=admin
# PROMPTIFY_LOG_PATH=data/promptify.log
# PROMPTIFY_MONGO_DB_URI=
# PROMPTIFY_SERVER_ENV=dev
